

<form class="form-horizontal">
  <legend>Server {{server.name}}</legend>
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
        <input type="text" id="inputName" ng-model="name" placeholder="{{server.name}}">
        <button class="btn" ng-click="updatename(name)">Update</button>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAddress">Address</label>
    <div class="controls">
      <input type="text" id="inputAddress" ng-model="address" placeholder="{{server.address}}">
      <button class="btn" ng-click="updateadd(address)">Update</button>
    </div>
  </div>
</form>

<pre>server = {{server | json}}</pre>