<legend>Add Server</legend>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
        <input type="text" id="inputName" ng-model="server.name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputAddress">Address</label>
    <div class="controls">
      <input type="text" id="inputAddress" ng-model="server.address">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn btn-large btn-primary" ng-click="addserver(server)">Submit</button>
    </div>
  </div>
</form>