<legend>Travian Servers</legend>

<div style="margin-top: 20px;">
    <table class="table table-bordered">
        <tr>
            <th style="width: 50px;">
                <a href="#AddServer" role="button" class="btn btn-block btn-success" data-toggle="modal" ng-click="addinit()">Add New</a>
            </th>
            <th>Address</th>
            <th>Country</th>
            <th>Last update time</th>
        </tr>
        <tr ng-repeat="server in servers">
            <td>
                <div class="btn-group btn-block">
                  <a href="#ServerEdit" role="button" class="btn btn-info" data-toggle="modal" ng-click="editinit(server)">Edit</a>
                  <a class="btn btn-info" href="" ng-click="fupdate(server.address)">Update stats</a>
                  <a class="btn btn-warning" href="" ng-click="delServer(server.id)">Delete</a>
                </div>
            </td>
            <td>{{server.address}} </td>
            <td>{{server.country}} , {{server.name}}</td>
            <td>{{server.humantime}}</td>
        </tr>
    </table>
</div>

<div id="AddServer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddServer" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Add new server</h3>
  </div>
  <div class="modal-body" style="height: 800px;">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputServer">Server</label>
        <div class="controls">
          <input type="text" ng-model="add.server" typeahead="server as server.address for server in serverList | filter:$viewValue">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputCountry">Country</label>
        <div class="controls">
          <input type="text" ng-model="add.country" typeahead="state as state.name for state in countrys | filter:$viewValue">
        </div>
      </div>
    </form>   
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" ng-click="addServer(add)" data-dismiss="modal">Save</button>
  </div>
</div>

<div id="ServerEdit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="AddServer" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Add new server</h3>
  </div>
  <div class="modal-body" style="height: 800px;">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputServer">{{edit.address}}</label>
        <div class="controls">
          <input type="text" ng-model="edit.address" typeahead="server as server.address for server in serverList | filter:$viewValue">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputCountry">{{edit.country}}</label>
        <div class="controls">
          <input type="text" ng-model="edit.name" typeahead="state as state.name for state in countrys | filter:$viewValue">
        </div>
      </div>
    </form>   
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" ng-click="editServer(edit)" data-dismiss="modal">Save</button>
  </div>
</div>