
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-8 col-xs-12" style="padding-left:0px;">
        <div class="btn-group" style="vertical-align:0px">
          <div class="btn-group" style="">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" ng-model="opt.server">
              {{opt.server}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a ng-repeat="server in servers" ng-click="opt.server = server.address;">
                  {{server.address}}
                </a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              Show {{opt.count}} 
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="opt.count = 10; opt.limit=0;">10</a></li>
              <li><a ng-click="opt.count = 20; opt.limit=0;">20</a></li>
              <li><a ng-click="opt.count = 30; opt.limit=0;">30</a></li>
              <li><a ng-click="opt.count = 40; opt.limit=0;">40</a></li>
              <li><a ng-click="opt.count = 60; opt.limit=0;">60</a></li>
              <li><a ng-click="opt.count = 80; opt.limit=0;">80</a></li>
              <li><a ng-click="opt.count = 100; opt.limit=0;">100</a></li>
            </ul>
          </div>
          <button class="btn" ng-class="{'btn-danger': opt.tribes.roman, 'btn-info': !opt.tribes.roman}" 
                      type="button" ng-click="opt.tribes.roman = !opt.tribes.roman">{{tribes.1}} Romans</button>
          <button class="btn" ng-class="{'btn-danger': opt.tribes.teuton, 'btn-info': !opt.tribes.teuton}" 
                      type="button" ng-click="opt.tribes.teuton = !opt.tribes.teuton">{{tribes.2}} Teutons</button>
          <button class="btn" ng-class="{'btn-danger': opt.tribes.gaul, 'btn-info': !opt.tribes.gaul}" 
                      type="button" ng-click="opt.tribes.gaul = !opt.tribes.gaul">{{tribes.3}} Gauls</button>
          <button class="btn" ng-class="{'btn-danger': opt.tribes.natar, 'btn-info': !opt.tribes.natar}" 
                      type="button" ng-click="opt.tribes.natar = !opt.tribes.natar">{{tribes.5}} Natars</button>
          <button type="button" class="btn btn-info"
                  ng-click="showElems.settings = !showElems.settings; showElems.results = !showElems.results; search();">
            <div ng-switch="showElems.settings">
              <div ng-switch-when="false">Results</div>
              <div ng-switch-default>Settings</div>
            </div>
          </button>
        </div>
      </div>
      <div class="col-md-4 col-xs-12" style="padding-left:0px;">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-lg-4 col-md-5 col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">X:</span>
                <input class="form-control" type="number" ng-model="opt.x" min="-400" max="400" placeholder="{{opt.x}}">
              </div>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">Y:</span>
                <input class="form-control" type="number" ng-model="opt.y" min="-400" max="400" placeholder="{{opt.y}}">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>