<div class="row" style="margin-top:30px;">
  <div class="col-md-3 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">All servers</div>
      <div class="panel-body">
        Players: {{serversSum.players}}
        <br>
        Villages: {{serversSum.villages}}
        <br>
        Servers: {{serversSum.servers}}
        
        
      </div>
    </div>
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="well" style="padding:5px">
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th></th>
              <th class="text-center">Server</th>
              <th class="text-center">Village count</th>
              <th class="text-center">Average village population</th>
              <th class="text-center">Player count</th>
              <th class="text-center">Average player population</th>
              <th class="text-center">Average village count</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="server in servers | orderBy:'addressend'">
              <td class="text-center"></td>
              <td class="text-center"><a href="http://{{server.address}}">{{server.address}}</a></td>     
              <td class="text-center">{{server.villagecount}}</td>
              <td class="text-center">{{server.villagepopavg | number:2}}</td>
              <td class="text-center">{{server.accountcount}}</td>
              <td class="text-center">{{server.accountpopavg | number:2}}</td>
              <td class="text-center">{{server.accountvillageavg | number:2}}</td>      
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
