<div class="row" ng-init="init();">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-8 col-xs-12" style="padding-left:0px;">
        <div class="btn-group" style="vertical-align:0px">
          <div class="btn-group" style="">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" ng-model="opt.server">
              {{opt.server}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a ng-repeat="server in servers" ng-click="opt.server = server.address;">
                  {{server.address}}
                </a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              Show {{opt.count}} 
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="opt.count = 10; opt.limit=0;">10</a></li>
              <li><a ng-click="opt.count = 20; opt.limit=0;">20</a></li>
              <li><a ng-click="opt.count = 20; opt.limit=0;">30</a></li>
              <li><a ng-click="opt.count = 40; opt.limit=0;">40</a></li>
              <li><a ng-click="opt.count = 60; opt.limit=0;">60</a></li>
              <li><a ng-click="opt.count = 80; opt.limit=0;">80</a></li>
              <li><a ng-click="opt.count = 100; opt.limit=0;">100</a></li>
            </ul>
          </div>
          <button class="btn" ng-class="{'btn-danger': opt.tribes.roman, 'btn-info': !opt.tribes.roman}" 
                      type="button" ng-click="opt.tribes.roman = !opt.tribes.roman">{{tribes.1}} Romans</button>
          <button class="btn" ng-class="{'btn-danger': opt.tribes.teuton, 'btn-info': !opt.tribes.teuton}" 
                      type="button" ng-click="opt.tribes.teuton = !opt.tribes.teuton">{{tribes.2}} Teutons</button>
          <button class="btn" ng-class="{'btn-danger': opt.tribes.gaul, 'btn-info': !opt.tribes.gaul}" 
                      type="button" ng-click="opt.tribes.gaul = !opt.tribes.gaul">{{tribes.3}} Gauls</button>
          <button class="btn" ng-class="{'btn-danger': opt.tribes.natar, 'btn-info': !opt.tribes.natar}" 
                      type="button" ng-click="opt.tribes.natar = !opt.tribes.natar">{{tribes.5}} Natars</button>
          <button type="button" class="btn btn-info"
                  ng-click="showElems.settings = !showElems.settings; showElems.results = !showElems.results; search();">
            <div ng-switch="showElems.settings">
              <div ng-switch-when="false">Results</div>
              <div ng-switch-default>Settings</div>
            </div>
          </button>
        </div>
      </div>
      <div class="col-md-4 col-xs-12" style="padding-left:0px;">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-lg-4 col-md-5 col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">X:</span>
                <input class="form-control" type="number" ng-model="opt.x" min="-400" max="400" placeholder="{{opt.x}}">
              </div>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-4">
              <div class="input-group">
                <span class="input-group-addon">Y:</span>
                <input class="form-control" type="number" ng-model="opt.y" min="-400" max="400" placeholder="{{opt.y}}">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-md-9 col-xs-12">
    <div class="row" ng-hide="showElems.results">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th colspan="12">
              <div ng-switch="opt.limit" class="pull-left">
                <a href="" ng-switch-when="0"><span class="glyphicon glyphicon-chevron-left"></span> 0-{{opt.count}}</a>
                <a href="" ng-switch-default ng-click="opt.limit = opt.limit - opt.count;"><span class="glyphicon glyphicon-chevron-left"></span>{{opt.limit - opt.count}}-{{opt.limit}}</a>
              </div>
              <div ng-switch="table.nextDisable" class="pull-right">
                <a href="" ng-switch-when="true">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="" ng-switch-default ng-click="opt.limit = opt.limit + opt.count;">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </th>
          </tr>
          <tr>
            <th ng-hide="table.dist" class="text-center">Distance</th>
            <th ng-hide="table.xy" class="text-center">X|Y <a href="" ng-hide="table.openAllLink" ng-click="openall('/position_details.php?x=','x');" class="text-error pull-right"> Open all</a></th>
            <th ng-hide="table.name" class="text-center">Village name<a href="" ng-hide="table.openAllLink" ng-click="openall('/build.php?id=39&tt=2&z=','id');" class="text-error pull-right"> Open all</a></th>
            <th ng-hide="table.idle" class="text-center">Idle time</th>
            <th ng-hide="table.pop" class="text-center">pop</th>
            <th ng-hide="table.acc" class="text-center">Player<a href="" ng-hide="table.openAllLink" ng-click="openall('/allianz.php?uid=','uid');" class="text-error pull-right"> Open all</a></th>
            <th ng-hide="table.vcount" class="text-center">Villages</th>
            <th ng-hide="table.accpop" class="text-center">pop</th>
            <th ng-hide="table.guild" class="text-center">Guild<a href="" ng-hide="table.openAllLink" ng-click="openall('/allianz.php?aid=','aid');" class="text-error pull-right"> Open all</a></th>
            <th></th>
          </tr>                
        </thead>
        <tbody>
          <tr ng-repeat="village in villages">
            <td ng-hide="table.dist" class="text-center">{{village.dist}}</td>
            <td ng-hide="table.xy" class="text-center"><a href="http://{{opt.server}}/position_details.php?x={{village.x}}&y={{village.y}}">({{village.x}}|{{village.y}})</a></td>
            <td ng-hide="table.name"><a href="http://{{opt.server}}/build.php?id=39&tt=2&z={{village.id}}">{{village.village}}</a></td>
            <td ng-hide="table.idle" class="text-center">{{village.idle}}.pv</td>
            <td ng-hide="table.pop" class="text-center">{{village.population}}</td>
            <td ng-hide="table.acc">
              <a href="http://{{opt.server}}/allianz.php?uid={{village.uid}}" class="pull-left">{{village.player}}</a>
              <a href="" ng-switch on="opt.onlyplayers">
                <div ng-switch-when="true">
                  <span class="pull-right"></span>
                </div>
                <div ng-switch-default>
                 <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="opt.players.push({name:village.player,uid:village.uid})"></span>
                </div>
              </a>
            </td>
            <td ng-hide="table.vcount" class="text-center">{{village.villagecount}}</td>
            <td ng-hide="table.accpop" class="text-center">{{village.uidPopulation}}</td>
            <td ng-hide="table.guild">
              <a href="http://{{opt.server}}/allianz.php?aid={{village.aid}}" class="pull-left">{{village.alliance}}</a>
              <a href="" ng-switch on="opt.onlyguilds">
                <div ng-switch-when="true">
                  <span class="pull-right"></span>
                </div>
                <div ng-switch-default>
                 <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="opt.guilds.push({name:village.alliance,aid:village.aid})"></span>
                </div>
              </a>
            </td>
            <td style="padding:1px"><img class="type{{village.tid}}" src="img/img_trans.gif"/></td>      
          </tr>
        </tbody>
        <tr>
            <th colspan="12">
              <div ng-switch="opt.limit" class="pull-left">
                <a href="" ng-switch-when="0"><span class="glyphicon glyphicon-chevron-left"></span> 0-{{opt.count}}</a>
                <a href="" ng-switch-default ng-click="opt.limit = opt.limit - opt.count;"><span class="glyphicon glyphicon-chevron-left"></span>{{opt.limit - opt.count}}-{{opt.limit}}</a>
              </div>
              <div ng-switch="table.nextDisable" class="pull-right">
                <a href="" ng-switch-when="true">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="" ng-switch-default ng-click="opt.limit = opt.limit + opt.count;">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </th>
        </tr>
      </table>      
    </div>
    <div class="row" ng-hide="showElems.settings">
      <div class="panel panel-default">
        <div class="panel-heading">Population, village and idle time limits.</div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-xs-4 control-label">Village population</label>
              <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="input-group">
                  <span class="input-group-addon">Min</span>
                  <input class="form-control" ng-model="opt.vilminpop" min="0" max="2499" type="number">
                </div>
              </div>
              <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="input-group">
                  <span class="input-group-addon">Max</span>
                  <input class="form-control" ng-model="opt.vilmaxpop" min="1" max="2500" type="number">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">Account population</label>
              <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="input-group">
                  <span class="input-group-addon">Min</span>
                  <input class="form-control" ng-model="opt.accominpop" min="0" max="199999" type="number">
                </div>
              </div>
              <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="input-group">
                  <span class="input-group-addon">Max</span>
                  <input class="form-control" ng-model="opt.accomaxpop" min="1" max="200000" type="number">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">Account village count</label>
              <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="input-group">
                  <span class="input-group-addon">Min</span>
                  <input class="form-control" ng-model="opt.vilcountmin" min="1" max="199" type="number">
                </div>
              </div>
              <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="input-group">
                  <span class="input-group-addon">Max</span>
                  <input class="form-control" ng-model="opt.vilcountmax" min="1" max="200" type="number">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-4 control-label">Account idle time</label>
              <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="input-group">
                  <span class="input-group-addon">Min</span>
                  <input class="form-control" ng-model="opt.idlemin" min="0" max="49" type="number">
                </div>
              </div>
              <div class="col-lg-2 col-sm-3 col-xs-4">
                <div class="input-group">
                  <span class="input-group-addon">Max</span>
                  <input class="form-control" ng-model="opt.idlemax" min="1" max="50" type="number">
                </div>
              </div>
            </div>
          </form>         
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Table settings</div>
        <div class="panel-body">
          <div class="col-xs-4">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="table.openAllLink">
                Show / Hide Open all link
              </label>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="col-xs-12 text-center">
              <b>Hide columns</b>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="table.dist">
                    Distance
                  </label>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="table.xy">
                    X|Y
                  </label>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="table.pop">
                    Village pop
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="table.name">
                    Village name
                  </label>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="table.acc">
                    Account name
                  </label>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="table.accpop">
                    Account pop
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="table.idle">
                    Idle time
                  </label>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="table.vcount">
                    Village count
                  </label>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="table.guild">
                    Guild
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Players
          <button class="btn pull-right btn-xs" ng-class="{'btn-default': !opt.onlyplayers, 'btn-info': opt.onlyplayers}" 
                  type="button" ng-click="opt.onlyplayers = !opt.onlyplayers">Show only selected guilds</button>
        </div>
        <div class="panel-body">
          <ul class="list-inline" >
            <li ng-repeat="player in opt.players" style="margin-bottom:5px;">
              <button type="button" class="btn btn-default" ng-click="opt.players.splice($index, 1)">
                {{player.name}}<span class="glyphicon glyphicon-remove-circle" style="padding-left: 10px;"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Guilds
          <button class="btn pull-right btn-xs" ng-class="{'btn-default': !opt.onlyguilds, 'btn-info': opt.onlyguilds}" 
                  type="button" ng-click="opt.onlyguilds = !opt.onlyguilds">Show only selected guilds</button>
        </div>
        <div class="panel-body">
          <ul class="list-inline" >
            <li ng-repeat="guild in opt.guilds" style="margin-bottom:5px;">
              <button type="button" class="btn btn-default" ng-click="opt.guilds.splice($index, 1)">
                {{guild.name}}<span class="glyphicon glyphicon-remove-circle" style="padding-left: 10px;"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-3 hidden-xs">
    <div class="alert alert-danger" ng-hide="isStorage">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> Your browser does't support LocalStorage.
    </div>  
    
    
    <div class="panel panel-default" ng-hide="!isStorage" ng-hide="testx">
      <div class="panel-body">        
        <div class="row" ng-repeat="vil in table.LocalVil" style="padding-top:2px;padding-right: 10px;">
          <div class="col-md-6" style="padding-top:6px;">
            <a href="" ng-click="openVil(vil.name);"><b>{{vil.name}}</b></a>
          </div>
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-info" ng-click="LocalS.update(vil.name,opt);">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="table.LocalVil.splice($index, 1); LocalS.remove(vil.name);">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
          </div>
        </div>
        <div class="row" style="padding-top:20px;">
          <div class="col-md-12">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="newLocalVil" maxlength="14">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="AddPersonlaVil(newLocalVil);">Add</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>