<div ng-init="init();" style="margin-top: 50px;"></div>
<div class="container">
<div>
  <div class="text-center">
    <div class="btn-group" style="vertical-align:0px">
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" ng-model="opt.server">
          <img class="flag flag-{{opt.addressend}}" src="img/img_trans.gif"/> {{opt.addressend}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="min-width: 80px;">
          <ul class="list-inline" ng-repeat="server in serversToFilter() | filter:filterGroupbyEnd">
            <li class="pull-left">
              <a href="" ng-click="opt.addressend = server.addressend;">
                <img class="flag flag-{{server.addressend}}" src="img/img_trans.gif"/>
              </a>
            </li>
            <li>
              <a href="" ng-click="opt.addressend = server.addressend;">
                <b> {{server.addressend}} </b>
              </a>
            </li>
          </ul>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" ng-model="opt.server">
          {{opt.server}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="" ng-repeat="server in servers | filter:{addressend: opt.addressend}" ng-click="opt.server = server.address; opt.addressend = server.addressend;">
              {{server.address}}
            </a>
          </li>
        </ul>
      </div>
      
      
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
          Show {{opt.count}} 
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="min-width: 60px;margin-left: 5px;">
          <li><a ng-click="opt.count = 10; opt.limit=0;">10</a></li>
          <li><a ng-click="opt.count = 20; opt.limit=0;">20</a></li>
          <li><a ng-click="opt.count = 30; opt.limit=0;">30</a></li>
          <li><a ng-click="opt.count = 40; opt.limit=0;">40</a></li>
          <li><a ng-click="opt.count = 60; opt.limit=0;">60</a></li>
          <li><a ng-click="opt.count = 80; opt.limit=0;">80</a></li>
          <li><a ng-click="opt.count = 100; opt.limit=0;">100</a></li>
        </ul>
      </div>
      <button class="btn" ng-class="{'btn-danger': opt.tribes.roman, 'btn-info': !opt.tribes.roman}" 
                  type="button" ng-click="opt.tribes.roman = !opt.tribes.roman">{{tribes.1}} Romans</button>
      <button class="btn" ng-class="{'btn-danger': opt.tribes.teuton, 'btn-info': !opt.tribes.teuton}" 
                  type="button" ng-click="opt.tribes.teuton = !opt.tribes.teuton">{{tribes.2}} Teutons</button>
      <button class="btn" ng-class="{'btn-danger': opt.tribes.gaul, 'btn-info': !opt.tribes.gaul}" 
                  type="button" ng-click="opt.tribes.gaul = !opt.tribes.gaul">{{tribes.3}} Gauls</button>
      <button class="btn" ng-class="{'btn-danger': opt.tribes.natar, 'btn-info': !opt.tribes.natar}" 
                  type="button" ng-click="opt.tribes.natar = !opt.tribes.natar">{{tribes.5}} Natars</button>
      <button class="btn btn-info" ng-click="LocalS.remove('lastServer');LocalS.remove('table');villages = '';init();">
        <span>Reset all </span>
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
      <button type="button" class="btn btn-info"
              ng-click="table.elems.settings = !table.elems.settings; table.elems.results = !table.elems.results; search();">
        <div ng-switch="table.elems.settings">
          <div ng-switch-when="false">Results</div>
          <div ng-switch-default>Settings</div>
        </div>
      </button>
    </div>
  </div>
</div>
<div class="row" style="margin-left: 0px;margin-right: 0px;margin-top:10px;">
  <div class="col-xs-12">
    <div class="row" ng-hide="table.elems.results">
      <table class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th colspan="12">
              <div class="row">
                <div class="col-xs-2">
                  <div ng-switch="opt.limit" style="padding-top: 5px;">
                    <a href="" ng-switch-when="0"><span class="glyphicon glyphicon-chevron-left"></span> 0-{{opt.count}}</a>
                    <a href="" ng-switch-default ng-click="opt.limit = opt.limit - opt.count;"><span class="glyphicon glyphicon-chevron-left"></span>{{opt.limit - opt.count}}-{{opt.limit}}</a>
                  </div>
                </div>
                <form name="koord">
                  <div class="col-xs-4">
                    <div class="input-group input-group-sm pull-right" style="max-width: 100px;" ng-class="{'has-error': !koord.x.$valid}">
                      <span class="input-group-addon">X:</span>
                      <input class="form-control" type="number" name="x" ng-model="opt.x" min="-400" max="400" placeholder="{{opt.x}}" required>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="input-group input-group-sm pull-left" style="max-width: 100px;" ng-class="{'has-error': !koord.y.$valid}">
                      <span class="input-group-addon">Y:</span>
                      <input class="form-control" type="number" name="y" ng-model="opt.y" min="-400" max="400" placeholder="{{opt.y}}" required>
                    </div>
                  </div>
                </form>
                <div class="col-xs-2">
                  <div ng-switch="table.nextDisable" class="pull-right" style="padding-top: 5px;">
                    <a href="" ng-switch-when="true">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="" ng-switch-default ng-click="opt.limit = opt.limit + opt.count;">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<span class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
                </div>
              </div>
            </th>
          </tr>
          <tr>
            <th ng-hide="table.columns.dist" class="text-center">Distance</th>
            <th ng-hide="table.columns.xy" class="text-center">X|Y <a href="" ng-hide="table.openAllLink" ng-click="openall('/position_details.php?x=','x');" class="text-error pull-right"> Open all</a></th>
            <th ng-hide="table.columns.name" class="text-center">Village name<a href="" ng-hide="table.openAllLink" ng-click="openall('/build.php?id=39&tt=2&z=','id');" class="text-error pull-right"> Open all</a></th>
            <th ng-hide="table.columns.idle" class="text-center">Idle time</th>
            <th ng-hide="table.columns.pop" class="text-center">pop</th>
            <th ng-hide="table.columns.acc" class="text-center">Player<a href="" ng-hide="table.openAllLink" ng-click="openall('/allianz.php?uid=','uid');" class="text-error pull-right"> Open all</a></th>
            <th ng-hide="table.columns.vcount" class="text-center">Villages</th>
            <th ng-hide="table.columns.accpop" class="text-center">Pop</th>
            <th ng-hide="table.columns.guild" class="text-center">Guild<a href="" ng-hide="table.openAllLink" ng-click="openall('/allianz.php?aid=','aid');" class="text-error pull-right"> Open all</a></th>
            <th></th>
          </tr>                
        </thead>
        <tbody>
          <tr ng-repeat="village in villages">
            <td ng-hide="table.columns.dist" class="text-center">{{village.dist}}</td>
            <td ng-hide="table.columns.xy" class="text-center"><a href="http://{{opt.server}}/position_details.php?x={{village.x}}&y={{village.y}}">({{village.x}}|{{village.y}})</a></td>
            <td ng-hide="table.columns.name">
              <a href="http://{{opt.server}}/build.php?id=39&tt=2&z={{village.id}}&t1={{table.unit.t1}}&t2={{table.unit.t2}}&t3={{table.unit.t3}}&t4={{table.unit.t4}}&t5={{table.unit.t5}}&t6={{table.unit.t6}}&t7={{table.unit.t7}}&t8={{table.unit.t8}}&t9={{table.unit.t9}}&c={{table.unit.c}}">
                {{village.village}}
              </a>
            </td>
            <td ng-hide="table.columns.idle" class="text-center">{{village.idle}}.pv</td>
            <td ng-hide="table.columns.pop" class="text-center">{{village.population | number:2}}</td>
            <td ng-hide="table.columns.acc">
              <a href="http://{{opt.server}}/spieler.php?uid={{village.uid}}" class="pull-left">{{village.player}}</a>
              <a href="" ng-switch on="opt.onlyplayers">
                <div ng-switch-when="true">
                  <span class="pull-right"></span>
                </div>
                <div ng-switch-default>
                 <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="opt.players.push({name:village.player,uid:village.uid})"></span>
                </div>
              </a>
            </td>
            <td ng-hide="table.columns.vcount" class="text-center">{{village.villagecount}}</td>
            <td ng-hide="table.columns.accpop" class="text-center">{{village.uidPopulation | number:2}}</td>
            <td ng-hide="table.columns.guild">
              <a href="http://{{opt.server}}/allianz.php?aid={{village.aid}}" class="pull-left">{{village.alliance}}</a>
              <a href="" ng-switch on="opt.onlyguilds">
                <div ng-switch-when="true">
                  <span class="pull-right"></span>
                </div>
                <div ng-switch-default>
                 <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="opt.guilds.push({name:village.alliance,aid:village.aid})"></span>
                </div>
              </a>
            </td>
            <td style="padding:1px"><img class="type{{village.tid}}" src="img/img_trans.gif"/></td>      
          </tr>
        </tbody>
        <tr>
            <th colspan="12">
              <div ng-switch="opt.limit" class="pull-left">
                <a href="" ng-switch-when="0"><span class="glyphicon glyphicon-chevron-left"></span> 0-{{opt.count}}</a>
                <a href="" ng-switch-default ng-click="opt.limit = opt.limit - opt.count;"><span class="glyphicon glyphicon-chevron-left"></span>{{opt.limit - opt.count}}-{{opt.limit}}</a>
              </div>
              <div ng-switch="table.nextDisable" class="pull-right">
                <a href="" ng-switch-when="true">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="" ng-switch-default ng-click="opt.limit = opt.limit + opt.count;">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </th>
        </tr>
      </table>      
    </div>
    <div class="row" ng-hide="table.elems.settings">
      <div class="panel panel-default">
        <div class="panel-heading">
          Population, village and idle time limits.
        
          <button type="button" class="btn pull-right btn-xs" style="margin-left:10px;"
                  data-toggle="collapse" href="#limits">
            <span class="glyphicon glyphicon-align-justify"></span>
          </button>
          
          <button type="button" class="btn pull-right btn-xs" style="margin-left:10px;"
                  ng-click="opt.vilminpop=0;opt.vilmaxpop=2500;opt.accominpop=0;opt.accomaxpop=10000000;opt.vilcountmin=1;opt.vilcountmax=10000000;opt.idlemin=0;opt.idlemax=1000 ">
            <span>Reset</span>
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>
        <div id="limits" class="panel-collapse collapse">
          <div class="panel-body">
            <form class="form-horizontal" role="form" name="poplimits">
              <div class="form-group">
                <label class="col-xs-4 control-label">Village population</label>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !poplimits.vilminpop.$valid}">
                    <span class="input-group-addon">Min</span>
                    <input class="form-control" ng-model="opt.vilminpop" min="0" max="2499" type="number" name="vilminpop" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !poplimits.vilmaxpop.$valid}">
                    <span class="input-group-addon">Max</span>
                    <input class="form-control" ng-model="opt.vilmaxpop" min="1" max="2500" type="number" name="vilmaxpop" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">Account population</label>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !poplimits.accominpop.$valid}">
                    <span class="input-group-addon">Min</span>
                    <input class="form-control" ng-model="opt.accominpop" min="0" max="9999999" type="number" name="accominpop" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !poplimits.accomaxpop.$valid}">
                    <span class="input-group-addon">Max</span>
                    <input class="form-control" ng-model="opt.accomaxpop" min="1" max="10000000" type="number" name="accomaxpop" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">Account village count</label>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !poplimits.vilcountmin.$valid}">
                    <span class="input-group-addon">Min</span>
                    <input class="form-control" ng-model="opt.vilcountmin" min="1" max="9999999" type="number" name="vilcountmin" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !poplimits.vilcountmax.$valid}">
                    <span class="input-group-addon">Max</span>
                    <input class="form-control" ng-model="opt.vilcountmax" min="1" max="10000000" type="number" name="vilcountmax" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4 control-label">Account idle time</label>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !poplimits.idlemin.$valid}">
                    <span class="input-group-addon">Min</span>
                    <input class="form-control" ng-model="opt.idlemin" min="0" max="999" type="number" name="idlemin" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !poplimits.idlemax.$valid}">
                    <span class="input-group-addon">Max</span>
                    <input class="form-control" ng-model="opt.idlemax" min="1" max="1000" type="number" name="idlemax" required>
                  </div>
                </div>
              </div>
            </form>         
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Units      
          <button type="button" class="btn pull-right btn-xs" style="margin-left:10px;"
                  data-toggle="collapse" href="#units">
            <span class="glyphicon glyphicon-align-justify"></span>
          </button>
          
          <button type="button" class="btn pull-right btn-xs"
                  ng-click="table.unit.race = 'r'; table.unit.c = 2;
                    table.unit.t1 = 0;table.unit.t2 = 0;table.unit.t3 = 0;
                    table.unit.t4 = 0;table.unit.t5 = 0;table.unit.t6 = 0;
                    table.unit.t7 = 0;table.unit.t8 = 0;table.unit.t9 = 0;">
            <span>Reset</span>
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
          
          <div class="pull-right" style="margin-right: 10px;">
            <div class="btn-group pull-right" data-toggle="buttons"> 
              <label class="btn btn-default btn-xs" ng-click="table.unit.race = 'r'">
                <input type="radio" name="options"> Romans
              </label>
              <label class="btn btn-default btn-xs" ng-click="table.unit.race = 't'">
                <input type="radio" name="options"> Teutons
              </label>
              <label class="btn btn-default btn-xs" ng-click="table.unit.race = 'g'">
                <input type="radio" name="options"> Gauls
              </label>
            </div>
          </div>
          <div class="pull-right" style="margin-right: 10px;">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default btn-xs" ng-click="table.unit.c = '2'">
                <input type="radio" name="options"><div ng-class="{'text-danger': table.unit.c == 2}">Reinforcement</div> 
              </label>
              <label class="btn btn-default btn-xs" ng-click="table.unit.c = '3'">
                <input type="radio" name="options"><div ng-class="{'text-danger': table.unit.c == 3}">Attack: Normal</div> 
              </label>
              <label class="btn btn-default btn-xs" ng-click="table.unit.c = '4'">
                <input type="radio" name="options"><div ng-class="{'text-danger': table.unit.c == 4}">Attack: Raid</div> 
              </label>
            </div>
          </div>
        </div>
        <div id="units" class="panel-collapse collapse">
          <form name="units">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !units.t1.$valid}">
                    <span class="input-group-addon"><img class="unit {{table.unit.race}}t1" src="img/img_trans.gif"/></span>
                    <input type="number" class="form-control" placeholder="0" min="0" ng-model="table.unit.t1" name="t1" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !units.t2.$valid}">
                    <span class="input-group-addon"><img class="unit {{table.unit.race}}t2" src="img/img_trans.gif"/></span>
                    <input type="number" class="form-control" placeholder="0" min="0" ng-model="table.unit.t2" name="t2" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !units.t3.$valid}">
                    <span class="input-group-addon"><img class="unit {{table.unit.race}}t3" src="img/img_trans.gif"/></span>
                    <input type="number" class="form-control" placeholder="0" min="0" ng-model="table.unit.t3" name="t3" required>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:5px;">
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !units.t4.$valid}">
                    <span class="input-group-addon"><img class="unit {{table.unit.race}}t4" src="img/img_trans.gif"/></span>
                    <input type="number" class="form-control" placeholder="0" min="0" ng-model="table.unit.t4" name="t4" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !units.t5.$valid}">
                    <span class="input-group-addon"><img class="unit {{table.unit.race}}t5" src="img/img_trans.gif"/></span>
                    <input type="number" class="form-control" placeholder="0" min="0" ng-model="table.unit.t5" name="t5" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !units.t6.$valid}">
                    <span class="input-group-addon"><img class="unit {{table.unit.race}}t6" src="img/img_trans.gif"/></span>
                    <input type="number" class="form-control" placeholder="0" min="0" ng-model="table.unit.t6" name="t6" required>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:5px;">
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !units.t7.$valid}">
                    <span class="input-group-addon"><img class="unit {{table.unit.race}}t7" src="img/img_trans.gif"/></span>
                    <input type="number" class="form-control" placeholder="0" min="0" ng-model="table.unit.t7" name="t7" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !units.t8.$valid}">
                    <span class="input-group-addon"><img class="unit {{table.unit.race}}t8" src="img/img_trans.gif"/></span>
                    <input type="number" class="form-control" placeholder="0" min="0" ng-model="table.unit.t8" name="t8" required>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="input-group" ng-class="{'has-error': !units.t9.$valid}">
                    <span class="input-group-addon"><img class="unit {{table.unit.race}}t9" src="img/img_trans.gif"/></span>
                    <input type="number" class="form-control" placeholder="0" min="0" ng-model="table.unit.t9" name="t9" required>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Table settings
          
          <button type="button" class="btn pull-right btn-xs" style="margin-left:10px;"
                  data-toggle="collapse" href="#tableSettings">
            <span class="glyphicon glyphicon-align-justify"></span>
          </button>
        
          <button type="button" class="btn pull-right btn-xs" style="margin-left:10px;"
                  ng-click="table.openAllLink = true; table.columns = [];">
            <span>Reset</span>
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
          <div class="checkbox pull-right" style="margin-top: 0px;">
            <label>
              <input type="checkbox" ng-model="table.openAllLink">
              Show / Hide Open all link
            </label>
          </div>
        </div>
        <div id="tableSettings" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="col-xs-12">
              <div class="text-center">
                <b>Hide columns</b>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="table.columns.dist">
                      Distance
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="table.columns.xy">
                      X|Y
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="table.columns.pop">
                      Village pop
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="table.columns.name">
                      Village name
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="table.columns.acc">
                      Account name
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="table.columns.accpop">
                      Account pop
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="table.columns.idle">
                      Idle time
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="table.columns.vcount">
                      Village count
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="table.columns.guild">
                      Guild
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Players
          
          <button type="button" class="btn pull-right btn-xs" style="margin-left:10px;"
                  data-toggle="collapse" href="#players">
            <span class="glyphicon glyphicon-align-justify"></span>
          </button>
          
          <button type="button" class="btn pull-right btn-xs" style="margin-left:10px;"
                  ng-click="opt.onlyplayers = false; opt.players = [];">
            <span>Reset</span>
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
          
          <button class="btn pull-right btn-xs" ng-class="{'btn-info': !opt.onlyplayers, 'btn-info': opt.onlyplayers}" 
                  type="button" ng-click="opt.onlyplayers = !opt.onlyplayers">
            <div ng-switch="opt.onlyplayers">
              <div ng-switch-when="true">Hide selected players</div>
              <div ng-switch-default>Show only selected players</div>
            </div>
          </button>
          
        </div>
        <div id="players" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="list-inline" >
              <li ng-repeat="player in opt.players" style="margin-bottom:5px;">
                <button type="button" class="btn btn-default" ng-click="opt.players.splice($index, 1)">
                  {{player.name}}<span class="glyphicon glyphicon-remove-circle" style="padding-left: 10px;"></span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Guilds
          
          <button type="button" class="btn pull-right btn-xs" style="margin-left:10px;"
                  data-toggle="collapse" href="#guilds">
            <span class="glyphicon glyphicon-align-justify"></span>
          </button>
          
          <button type="button" class="btn pull-right btn-xs" style="margin-left:10px;"
                  ng-click="opt.onlyguilds = false; opt.guilds = [];">
            <span>Reset</span>
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
          
          <button class="btn pull-right btn-xs" ng-class="{'btn-info': !opt.onlyguilds, 'btn-info': opt.onlyguilds}" 
                  type="button" ng-click="opt.onlyguilds = !opt.onlyguilds">
            <div ng-switch="opt.onlyguilds">
              <div ng-switch-when="true">Hide selected guilds</div>
              <div ng-switch-default>Show only selected guilds</div>
            </div>
          </button>
        </div>
        <div id="guilds" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="list-inline" >
              <li ng-repeat="guild in opt.guilds" style="margin-bottom:5px;">
                <button type="button" class="btn btn-default" ng-click="opt.guilds.splice($index, 1)">
                  {{guild.name}}<span class="glyphicon glyphicon-remove-circle" style="padding-left: 10px;"></span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>