
<div class="btn-group">
  <a ng-repeat="server in servers" class="btn" href="#/travian/{{server.id}}/0/0">{{server.name}}</a>
</div>

<div style="margin-top: 20px;">
    <table class="table table-bordered table-condensed">
        <tr>
            <th style="width: 10px;" ng-click="back()"><i class="icon-chevron-left"></i></th>
            <th style="width: 40px;">Distance</th>
            <th style="width: 60px;">X.Y</th>
            <th style="width: 40px;">Pop</th>
            <th>Village name</th>
            <th>Account</th>
            <th>Account pop</th>
            <th>Idle time</th>
            <th>Village count</th>
            <th>Guild</th>
            <th style="width: 10px;" ng-click="next()"><i class="icon-chevron-right"></i></th>
        </tr>
        <tr ng-repeat="villages in villages">
            <td><i class="icon-chevron-down"></i></td>
            <td>{{villages.dist}}</td>
            <td>({{villages.x}}|{{villages.y}})</td>
            <td>{{villages.population}}</td>
            <td>{{villages.village}}</td>
            <td>{{villages.player}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{villages.alliance}}</td>
            <td></td>
        </tr>
    </table>
</div>

<pre>server = {{villages | json}}</pre>