<div>
  <div class="row-fluid">
    <div class="span9">
      <div class="row-fluid" style="position:fixed;top:100px;left:15%" ng-hide="showElems.firstTime">
        <div class="span6">
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h3>Welcome.</h3>
            Start using this village search tool selecting server from top dropdown menu.
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <!-- search selection bar -->
            <div class="btn-group" ng-init="init();">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" ng-model="opt.server">
                {{opt.server}}
                <span class="caret"></span>    
              </a>
              <ul class="dropdown-menu">
                <li><a ng-repeat="server in servers" ng-click="opt.server = server.address;">
                  {{server.address}}
                </a></li>
              </ul>
            </div>            
            <div class="input-prepend" style="margin-top:10px;">
              <span class="add-on">X</span>
              <input class="input-mini" type="number" ng-model="opt.x" min="-400" max="400" placeholder="{{opt.x}}">
            </div>
            <div class="input-prepend" style="margin-top:10px;">
              <span class="add-on">X</span>
              <input class="input-mini" type="number" ng-model="opt.y" min="-400" max="400" placeholder="{{opt.y}}">
            </div>
            <button class="btn btn-info" ng-click="showElems.settings = !showElems.settings; showElems.results = !showElems.results; search();">Settings</button>
            <div class="btn-group">
              <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="">
                Show: {{opt.count}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a ng-click="opt.count = 10; opt.limit=0;">10</a></li>
                <li><a ng-click="opt.count = 20; opt.limit=0;">20</a></li>
                <li><a ng-click="opt.count = 40; opt.limit=0;">40</a></li>
                <li><a ng-click="opt.count = 60; opt.limit=0;">60</a></li>
                <li><a ng-click="opt.count = 80; opt.limit=0;">80</a></li>
                <li><a ng-click="opt.count = 100; opt.limit=0;">100</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button class="btn" ng-class="{'btn-danger': opt.tribes.roman, 'btn-info': !opt.tribes.roman}" 
                      type="button" ng-click="opt.tribes.roman = !opt.tribes.roman">{{tribes.1}} Romans</button>
              <button class="btn" ng-class="{'btn-danger': opt.tribes.teuton, 'btn-info': !opt.tribes.teuton}" 
                      type="button" ng-click="opt.tribes.teuton = !opt.tribes.teuton">{{tribes.2}} Teutons</button>
              <button class="btn" ng-class="{'btn-danger': opt.tribes.gaul, 'btn-info': !opt.tribes.gaul}" 
                      type="button" ng-click="opt.tribes.gaul = !opt.tribes.gaul">{{tribes.3}} Gauls</button>
              <button class="btn" ng-class="{'btn-danger': opt.tribes.natar, 'btn-info': !opt.tribes.natar}" 
                      type="button" ng-click="opt.tribes.natar = !opt.tribes.natar">{{tribes.5}} Natars</button>
            </div>            
          <!-- end search bar -->
        </div>
      </div>
      <div class="row-fluid">
        <div class="row-fluid">
          <!-- search result -->
          <div class="span12">
            <div ng-hide="showElems.results">
              <table class="table table-condensed table-bordered table-hover">
                <thead>
                  <tr>
                    <th colspan="12">
                      <div ng-switch="opt.limit" class="pull-left">
                        <a href="" ng-switch-when="0"><i class="icon-chevron-left"></i> 0-{{opt.count}}</a>
                        <a href="" ng-switch-default ng-click="opt.limit = opt.limit - opt.count;"><i class="icon-chevron-left"></i>{{opt.limit - opt.count}}-{{opt.limit}}</a>
                      </div>
                      <div ng-switch="table.nextDisable" class="pull-right">
                        <a href="" ng-switch-when="true">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<i class="icon-chevron-right"></i></a>
                        <a href="" ng-switch-default ng-click="opt.limit = opt.limit + opt.count;">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<i class="icon-chevron-right"></i></a>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th></th>
                    <th ng-hide="table.dist">Distance</th>
                    <th ng-hide="table.xy">X.Y <a href="" ng-hide="table.openAllLink" ng-click="openall('/position_details.php?x=','x');" class="text-error pull-right"> Open all</a></th>
                    <th ng-hide="table.name">Village name<a href="" ng-hide="table.openAllLink" ng-click="openall('/build.php?id=39&tt=2&z=','id');" class="text-error pull-right"> Open all</a></th>
                    <th ng-hide="table.idle">Idle time</th>
                    <th ng-hide="table.pop">pop</th>
                    <th ng-hide="table.acc">Account <a href="" ng-hide="table.openAllLink" ng-click="openall('/allianz.php?uid=','uid');" class="text-error pull-right"> Open all</a></th>
                    <th ng-hide="table.vcount">Villages</th>
                    <th ng-hide="table.accpop">pop</th>
                    <th ng-hide="table.guild">Guild<a href="" ng-hide="table.openAllLink" ng-click="openall('/allianz.php?aid=','aid');" class="text-error pull-right"> Open all</a></th>
                    <th></th>
                  </tr>                
                </thead>
                <tbody>
                  <tr ng-repeat="village in villages">
                    <td><i class="icon-chevron-down"></i></td>
                    <td ng-hide="table.dist">{{village.dist}}</td>
                    <td ng-hide="table.xy"><a href="http://{{opt.server}}/position_details.php?x={{village.x}}&y={{village.y}}">({{village.x}}|{{village.y}})</a></td>
                    <td ng-hide="table.name"><a href="http://{{opt.server}}/build.php?id=39&tt=2&z={{village.id}}">{{village.village}}</a></td>
                    <td ng-hide="table.idle">{{village.idle}}.pv</td>
                    <td ng-hide="table.pop">{{village.population}}</td>
                    <td ng-hide="table.acc">
                      <a href="http://{{opt.server}}/allianz.php?uid={{village.uid}}" class="pull-left">{{village.player}}</a>
                      <a href="">
                        <span ng-switch on="opt.onlyplayers" >
                          <i ng-switch-default class="icon-plus pull-right" ng-click="opt.players.push({name:village.player,uid:village.uid})"></i>
                          <span ng-switch-when='true'></span>
                        </span>
                      </a>
                    </td>
                    <td ng-hide="table.vcount">{{village.villagecount}}</td>
                    <td ng-hide="table.accpop">{{village.uidPopulation}}</td>
                    
                    
                    <td ng-hide="table.guild">
                      <a href="http://{{opt.server}}/allianz.php?aid={{village.aid}}" class="pull-left">{{village.alliance}}</a>
                      <a href="">
                        <span ng-switch on="opt.onlyguilds" >
                          <i ng-switch-default class="icon-plus pull-right" ng-click="opt.guilds.push({name:village.alliance,aid:village.aid})"></i>
                          <span ng-switch-when='true'></span>
                        </span>
                      </a>
                    </td>
                    <td><img class="type{{village.tid}}" src="img/img_trans.gif"/></td>      
                  </tr>
                  <tr>
                    <th colspan="12">
                      <div ng-switch="opt.limit" class="pull-left">
                        <a href="" ng-switch-when="0"><i class="icon-chevron-left"></i> 0-{{opt.count}}</a>
                        <a href="" ng-switch-default ng-click="opt.limit = opt.limit - opt.count;"><i class="icon-chevron-left"></i>{{opt.limit - opt.count}}-{{opt.limit}}</a>
                      </div>
                      <div ng-switch="table.nextDisable" class="pull-right">
                        <a href="" ng-switch-when="true">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<i class="icon-chevron-right"></i></a>
                        <a href="" ng-switch-default ng-click="opt.limit = opt.limit + opt.count;">{{opt.limit + opt.count}}-{{opt.limit + opt.count + opt.count}}<i class="icon-chevron-right"></i></a>
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end search result -->
        </div>
        <div class="row-fluid">  
          <!-- search settings -->
          <div class="span12">
            <div ng-hide="showElems.settings">
              <div class="row-fluid">
                <div class="span6">
                  <div class="row-fluid">
                    <div class="span12">
                      <legend>Players</legend>
                      <label class="checkbox">
                        <input type="checkbox" ng-model="opt.onlyplayers">
                        Show / hide selected players.
                      </label>
                        
                      <ul class="inline" style="margin-top:20px;">
                        <li ng-repeat="player in opt.players">
                          <p>
                            <button class="btn btn-small btn-danger" style="margin-bottom: 5px;" 
                                    ng-click="opt.players.splice($index, 1)"><i class="icon-remove"></i> {{player.name}}</button>
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12">
                      <legend>Guilds</legend> 
                      <label class="checkbox">
                        <input type="checkbox" ng-model="opt.onlyguilds">
                        Show / hide selected players.
                      </label>
                      <ul class="inline" style="margin-top:10px;">
                        <li ng-repeat="guild in opt.guilds">
                          <p>
                            <button class="btn btn-small btn-danger" style="margin-bottom: 5px;" 
                                    ng-click="opt.guilds.splice($index, 1)"><i class="icon-remove"></i> {{guild.name}}</button>
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>  
                </div>
                <div class="span6">
                  <div class="row-fluid">
                    <div class="span12">
                      <legend>Population limits</legend>
                      <form class="form-horizontal">
                        <div class="control-group">
                          <label class="control-label">Village population</label>
                          <div class="controls">
                            <div class="input-prepend">
                              <span class="add-on">Min</span>
                              <input class="input-small" id="prependedInput" ng-model="opt.vilminpop" min="0" max="1999" type="number">
                            </div>
                            <div class="input-prepend">
                              <span class="add-on">Max</span>
                              <input class="input-small" id="prependedInput" ng-model="opt.vilmaxpop" min="1" max="2000" type="number">
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Account population</label>
                          <div class="controls">
                            <div class="input-prepend">
                              <span class="add-on">Min</span>
                              <input class="input-small" id="prependedInput" ng-model="opt.accominpop" min="0" max="99999" type="number">
                            </div>
                            <div class="input-prepend">
                              <span class="add-on">Max</span>
                              <input class="input-small" id="prependedInput" ng-model="opt.accomaxpop" min="1" max="100000" type="number">
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label">Village count</label>
                          <div class="controls">
                            <div class="input-prepend">
                              <span class="add-on">Min</span>
                              <input class="input-small" id="prependedInput" ng-model="opt.vilcountmin" min="1" max="199" type="number">
                            </div>
                            <div class="input-prepend">
                              <span class="add-on">Max</span>
                              <input class="input-small" id="prependedInput" ng-model="opt.vilcountmax" min="1" max="200" type="number">
                            </div>
                          </div>
                        </div>
                       <div class="control-group">
                          <label class="control-label">Idle time</label>
                          <div class="controls">
                            <div class="input-prepend">
                              <span class="add-on">Min</span>
                              <input class="input-small" id="prependedInput" ng-model="opt.idlemin" min="0" max="49" type="number">
                            </div>
                            <div class="input-prepend">
                              <span class="add-on">Max</span>
                              <input class="input-small" id="prependedInput" ng-model="opt.idlemax" min="1" max="50" type="number">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row-fluid">
                    <div class="span12">
                      <legend>Table settings</legend>
                      <label class="checkbox" style="margin-left: 5px;">
                        <input type="checkbox" ng-model="table.openAllLink">
                        Show / Hide Open all link
                      </label>
                      <br>
                      <table class="table table-condensed">
                        <tbody>
                          <tr>
                            <td style="border-top:0px;">
                              <label class="checkbox inline">
                                <input type="checkbox" ng-model="table.dist">
                                Distance
                              </label>
                            </td>
                            <td style="border-top:0px;">
                              <label class="checkbox inline">
                                <input type="checkbox" ng-model="table.xy">
                                X.Y
                              </label>
                            </td>
                            <td style="border-top:0px;">
                              <label class="checkbox inline">
                                <input type="checkbox" ng-model="table.pop">
                                Pop
                              </label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label class="checkbox inline">
                                <input type="checkbox" ng-model="table.name">
                                Village name
                              </label>
                            </td>
                            <td>
                              <label class="checkbox inline">
                                <input type="checkbox" ng-model="table.acc">
                                Account
                              </label>
                            </td>
                            <td>
                              <label class="checkbox inline">
                                <input type="checkbox" ng-model="table.accpop">
                                Account pop
                              </label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label class="checkbox inline">
                                <input type="checkbox" ng-model="table.idle">
                                Idle
                              </label>
                            </td>
                            <td>
                              <label class="checkbox inline">
                                <input type="checkbox" ng-model="table.vcount">
                                Village count
                              </label>
                            </td>
                            <td>
                              <label class="checkbox inline">
                                <input type="checkbox" ng-model="table.guild">
                                Guild
                              </label>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>                    
                </div>
              </div>  
            </div>
          </div>
          <!-- end search settings -->
        </div>
      </div>
    </div>
    <div class="span3 well well-small" style="position:fixed;right:10px;margin-top: 50px">
      <div class="row-fluid" ng-hide="isStorage"><!-- maybe future erros-->
        <div class="span12">
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> Your browser does't support LocalStorage.
          </div>
        </div>
      </div>      
      <div class="row-fluid" ng-hide="!isStorage">
        <div class="span12" style="margin-top:10px;">
          <table style="width: 100%">
            <tr ng-repeat="vil in table.LocalVil">
              <td><b><a href="" ng-click="openVil(vil.name);">{{vil.name}}</a></b></td>
              <td class="pull-right">
                <div class="btn-group">
                  <button class="btn btn-info" ng-click="LocalS.update(vil.name,opt);"><i class="icon-edit"></i></button>
                  <button class="btn btn-danger" ng-click="table.LocalVil.splice($index, 1); LocalS.remove(vil.name);"><i class="icon-remove"></i></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" class="input-small" ng-model="newLocalVil" maxlength="14" placeholder="New village...">
              </td>
              <td class="pull-right">
                <div class="btn-group">
                  <button class="btn btn-info" style="width: 79px" 
                          ng-click="AddPersonlaVil(newLocalVil);">Add</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>      
      <div class="row-fluid" ng-hide="true">
        <div class="span12">
          <!-- side -->
          <pre>{{opt | json}}</pre>
          <!--<pre>{{asd | json}}</pre>
          <button ng-click="serverTest();">Test</button>-->
        </div>
      </div>
      <div class="row-fluid">
        <div ng-init="down = true;" ng-hide="down">
          <div class="span12">
            Downloading...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



    